.input-width {
  width: 400px;
}

.forgot-password {
  color: #102C57;
}

.auth-div {
  background-color: rgb(222, 222, 222);
  width: 570px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #919090;
  margin: 0 auto;
  margin-bottom: 10px;
}

.title-header {
  margin-top: 60px;
  margin: 60px auto;
  width: fit-content;
}
