@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}
body {
	background: #ffffff ;
}
.section-padding {
	padding: 100px 0;
}
.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 220px;
	z-index: 2;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}

.navbar {
  background-color: #2b2b2a;

}
.navbar .getstarted {
	background: #106eea;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.portfolio .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.services .card-body i {
	font-size: 50px;
}
.team .card-body i {
	font-size: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		bottom: 370px;
	}
	.carousel-caption p {
		width: 100%;
	}
	.card {
		margin-bottom: 30px;
	}
	.img-area img {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	.carousel-caption {
		bottom: 125px;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
	.carousel-caption p {
		width: 100%;
		line-height: 1.6;
		font-size: 12px;
	}
	.about-text {
		padding-top: 50px;
	}
	.card {
		margin-bottom: 30px;
	}
}

.card {
  width: 18rem;
  margin: 1rem;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.9rem;
  color: #666;
}

.my-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #ffffff;
}

.my-navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.my-nav-item {
  margin: 0 5px;
}

.my-nav-link {
  display: block;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}

.my-nav-link:hover {
  background-color: #ddd;
}

.services{
  background-color: #f2f2f2;
  padding: 50px 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.car-brands {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.brand-logo {
  width: 100px;
  height: 100px;
  margin: 10px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#bnz img {
  width: 162px;
  margin-left: -32px;
  margin-top: 0px;
}

.brand-logo img {
  width: 100%;
  height: auto;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 35px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.other-links {
  display: flex;
  list-style: none;
  padding: 17px;
  margin: 0;
  flex-basis: 60%;
  flex-wrap: wrap;
}

.other-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
  margin-bottom: 15px;
}

.copyright {
  flex-basis: 100%;
  text-align: center;
  margin-top: -9px;
  font-size: 9px;
}

.copyright a {
  color: #fff;
  text-decoration: none;
}

.contacts-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #AEADAD;
}
li{
  list-style: none;
}
.widget-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #FFC107;
}
.icon-email{
 padding-left: 10px;
}
.icon-email a{
  padding-left: 10px;
  text-decoration: none;
  color: #AEADAD;
 }
.icon-phone{
  padding-left: 10px;
 }
