.sidebarsara {
  height: fit-content;
  width: 300px;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 5px rgba(190, 190, 190, 0.5);
}
.bold{
  font-weight: bold;
}
.profile-img-sara{
  border-radius: 50%;
}
