<footer class="footer">
    <div class="widget widget_contacts">
      <h3 class="widget-title"><span>Contact </span></h3>
  <ul class="contacts-list">
    <li class="icon-warehouse">
    <i class="fa-solid fa-house"></i>
         Hay Karima Casablanca<br>
        283, Bd Brahim Roudani <br>
        Casablanca - Maroc<br>
    </li>
    <br>
    <li class="icon-phone">
       <i class="fa-solid fa-phone"></i>  0661 20 69 64  / 0522 23 72 72 |
    </li>
    <li class="icon-email">
        <i class="fa-solid fa-envelope"></i> <a  href="mailto:info@belairauto.ma">info@belairauto.ma</a>
    </li>
  </ul>
</div>
        <hr>
        <div class="copyright">
            Car Rent website, 95682 Brand<br>
            Design by SARH ©2024 | All Rights Reserved
        </div>
</footer>
